<div class="main-page">
  <div class="row">
    <div class="col"></div>
    <div class="col main-column">
      <div class="logo-container">
        <img src="assets/ScenarioLogo.jpg" alt="Logo da Scenario">
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="sent-files" id="first">
        <h3>Arquivos já enviados:</h3>
        <ul class="list-group">
          <li *ngFor="let file of firstHalf" class="list-group-item list-group-item-action list-group-item-dark">
            <span class="bold">{{file.filename}}</span> -> Enviado em <span
            class="bold">{{file.sentAt | date: 'd/M/yy, H:mm a'}}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="onFileSubmit()" [ngClass]="{'deactivated': loading}">
        <label for="file-upload" class="label-upload">
          <div class="form-box">
            <i class="fas fa-upload" *ngIf="!loading && form.get('file')?.value === ''"></i>
            <div class="spinner-border text-secondary" role="status" *ngIf="loading">
              <span class="visually-hidden">Loading...</span>
            </div>
            <span *ngIf="!loading && form.get('file')?.value !== ''">
                <i class="far fa-file-archive" id="file-is-selected-icon"></i>
              {{form.get('file')?.value.name}}
            </span>
          </div>
        </label>
        <input type="file" id="file-upload" class="no-display" formControlName="file" (change)="onFileChange($event)">

        <button class="btn" type="submit" *ngIf="!loading">Enviar</button>
        <button class="btn" type="submit" *ngIf="loading">Enviando</button>
      </form>
    </div>
    <div class="col">
      <div class="sent-files" id="second">
        <h3>Arquivos já enviados:</h3>
        <ul class="list-group">
          <li *ngFor="let file of secondHalf" class="list-group-item list-group-item-action list-group-item-dark">
            <span class="bold">{{file.filename}}</span> -> Enviado em <span
            class="bold">{{file.sentAt | date: 'dd/MM/yyyy, H:mm a'}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
