$primary-color: rgba(230, 234, 243);
$secondary-color: complement($primary-color);

.main-page {
  min-height: 100%;
  background-color: $primary-color;

  .label-upload {
    width: 100%;
  }

  .form-box {
    border: 5px lighten(black, 50) dashed;
    background-color: $secondary-color;
    min-height: 30rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    font-weight: bolder;

    i {
      font-size: 15rem;
      transition: .3s;

      opacity: 75%;

      &#file-is-selected-icon {
        font-size: 2rem;
      }
    }

    transition: .3s;

    &:hover {
      i {
        transition: .3s;
        opacity: 90%;
      }

      transition: .3s;
      background-color: darken($secondary-color, 10);
    }

  }

  .logo-container {
    text-align: center;

    img {
      width: 25rem;
      height: 25rem;
    }
  }
}

.line-break {
  width: 100%;
}

.centralized {
  text-align: center;
}

.no-display {
  display: none;
}

.spinner-border {
  width: 14rem;
  height: 14rem;
}

ul {
  li {
    text-align: center;
    padding: .5rem;
  }
}

.sent-files {
  text-align: center;

  &#first {
    margin-left: 1rem;
  }

  &#second {
    margin-right: 1rem;
  }
}

.deactivated {
  pointer-events: none;
}

@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 1.0;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    opacity: 1.0;
  }
}

.deactivated {
  animation: fade 1000ms infinite;
  -webkit-animation: fade 1000ms infinite;
}

form {
  display: flex;
  justify-content: center;
}

button {
  width: 50%;
  margin: .5rem;

  border-radius: 8px;

  font-size: 3rem;

  background-color: lightblue;

  &:hover {
    background-color: darken(lightblue, 5);
  }
}

.bold {
  font-weight: bolder;
}

